.logo img {
    width: 100px;

    position: relative;
    top: -10px;
}

.skin-green .main-header .logo {
    background-color: var(--custom-black) !important;
}

.skin-green .main-header .navbar {
    background-color: var(--custom-black) !important;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
    background-color: var(--dark-green);
}


.nav>li>a {
    display: inline-block;
}

.user i {
    font-size: 16px;
    color: var(--light-gray) !important;

    position: relative;
    top: 2px;
    right: 5px;
}


/* sidebar */
.sidebar .header {
    margin-bottom: 20px;
}

.sidebar-menu .treeview {
    font-size: 18px;
}

/* add categ alert */
.categ-added .alert,
.subcateg-added .alert {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 25px -2px rgba(0, 0, 0, 0.2);
}

:root {
    --dark-green: #639251;
    --light-green: rgb(113, 165, 93);
    --dark-red: #9A1A18;
    --light-red: #BE1937;
    --dark-cyan: #1CB3CB;
    --light-cyan: #36C7DE;
    --light-gray: #F7F7F6;
    --custom-black: #222d32;
}